@charset "utf-8";

body {
  font-family: 'Josefin Sans', sans-serif;
}

.header {
  text-align: center;
  height: 90px;
}

.separator {
  width: 100%;
  border-bottom: solid #006729 1px;
  clear: both;
}

.title {
  display: inline-block;
}

.title h1 {
  font-size: 1.75em;
  font-weight: bold;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

.title a {
  color: #006729;
  text-decoration: none;
}

.title a:hover {
  color: #006729;
  text-decoration: underline;
}

.header h2 {
  font-size: 1.4em;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  display: inline-block;
}

.header h2 a:hover {
  color: #560053;
  text-decoration: underline;
}

h2 a {
  color: #160056;
  text-decoration: none;
}

.left {
  float: left;
}

.right {
  float: right;
}