@charset "utf-8";

  * {
    padding:0;
    margin:0;
  }

body {
  font-family: 'Josefin Sans', sans-serif;
  color: #160056;
  height:100%;
}

/*
 HEADER
*/
#header {
  text-align: center;
  height: 70px;
  min-width: 1111px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  background: white;
}

.separator {
  width: 100%;
  border-bottom: solid #006729 1px;
  clear: both;
}

.title {
  padding-right: 5px;
  padding-left: 5px;
  padding-top: 10px;
  display: inline-block;
}

.title h1 {
  font-size: 1.25em;
  font-weight: bold;
  padding-left: 5px;
  padding-right: 5px;
}

.title a {
  color: #006729;
  text-decoration: none;
}

.title a:hover {
  color: #006729;
  text-decoration: underline;
}

.nav {
  display: inline-block;

}

#header h2 {
  font-size: 1.1em;
  padding-left: 8px;
  padding-right: 8px;
  float: left;
}

#header h2 a:hover {
  color: #560053;
  text-decoration: underline;
}

h2 a {
  color: #160056;
  text-decoration: none;
}

.left {
  float: left;
}

.right {
  float: right;
}

#wedding_party { 
  clear: both;
  text-align: center;
}

h2, h3, h4, h5 {
  text-transform: uppercase;
}

#wedding_party h2, h3, h4, h5 {
  margin: 15px;
}

#wedding_party h2 {
  margin-bottom: 25px;
}

#wedding_party p {
  margin-top: 30px;
  margin-bottom: 30px;
}

#wedding_party h2 {
  font-size: 2em;
}

#wedding_party h3 {
  font-size: 1.7em;
}

#wedding_party h4 {
  font-size: 1.4em;
}

#wedding_party h5, p {
  font-size: 1.3em;
}

.images {
  margin-top: 25px;
}

.images img {
  float: left;
  padding-left: 5px;
  padding-bottom:;
}

.circular {
  opacity: 0.4;
  float: left;
  margin-left: 15px;
  width: 120px;
  height: 120px;
  border-radius: 60px;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  box-shadow: 0 0 8px rgba(16, 0, 56, .9);
  -webkit-box-shadow: 0 0 8px rgba(16, 0, 56, .9);
  -moz-box-shadow: 0 0 8px rgba(16, 0, 56, .9);
  background-size: cover;
}

.circular:hover {
  opacity: 7.0;
}

#our_story .circular {
  opacity: 1;
  width: 240px;
  height: 240px;
  border-radius: 60px;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;  
}

.timeline1 {
  background: url(/images/timeline/1.jpg) no-repeat;
  background-size: 90% 90%;
}

.timeline2 {
  background: url(/images/timeline/2.jpg) no-repeat;
  background-size: cover;
}

.timeline3 {
  background: url(/images/timeline/3.jpg) no-repeat;
  background-size: cover;
}

.timeline4 {
  background: url(/images/timeline/4.jpg) no-repeat;
  background-size: cover;
}

.timeline5 {
  background: url(/images/timeline/5.jpg) no-repeat;
  background-size: cover;
}

.timeline6 {
  background: url(/images/timeline/6.jpg) no-repeat;
  background-size: cover;
}

.timeline7 {
  background: url(/images/timeline/7.jpg) no-repeat;
  background-size: cover;
}

.timeline8 {
  background: url(/images/timeline/8.jpg) no-repeat;
  background-size: cover;
}
.timeline9 {
  background: url(/images/timeline/9.jpg) no-repeat;
  background-size: cover;
}
.timeline10 {
  background: url(/images/timeline/10.jpg) no-repeat;
  background-size: cover;
}
.timeline11 {
  background: url(/images/timeline/11.jpg) no-repeat;
  background-size: cover;
}
.timeline12 {
  background: url(/images/timeline/12.jpg) no-repeat;
  background-size: cover;
}
.timeline13 {
  background: url(/images/timeline/13.jpg) no-repeat;
  background-size: cover;
}
.timeline14 {
  background: url(/images/timeline/14.jpg) no-repeat;
  background-size: cover;
}

.amelia {
  background: url(/images/amelia.jpg) no-repeat;
  background-size: cover;
}

.tracey {
  background: url(/images/tracey.jpg) no-repeat;
  background-size: cover;
}
.ali {
  background: url(/images/ali.jpg) no-repeat;
  background-size: cover;
}

.selected {
  opacity: 1.0;
}

.image-descriptions {
  clear: both;
  padding-top: 20px;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.image-description {
  margin: 0;
  padding: 0;
  float: left;
  width: 500px;
}

.image-container {
  width: 2500px;
}

#our_story {
  width: 100%;
}

#our_story > h2 {
  left: 47%;
  position: relative;
  margin-bottom: 60px;
}

.storybox {
  font-size: 1.3em;
  width: 375px;
}

.story-left {
  text-align: right;
}

.container-big {
  margin-left: auto;
  margin-right: auto;
  width: 900px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.container-fixed {
  margin-left: auto;
  margin-right: auto;
  width: 700px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.container-fixed:before, .container-fixed:after {
    content: "";
    height: 3px;
    background: -moz-linear-gradient(left,  rgba(0,67,29,0) 0%, rgba(0,67,29,1) 50%, rgba(0,67,29,0) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,67,29,0)), color-stop(50%,rgba(0,67,29,1)), color-stop(100%,rgba(0,67,29,0)));
    background: -webkit-linear-gradient(left,  rgba(0,67,29,0) 0%,rgba(0,67,29,1) 50%,rgba(0,67,29,0) 100%);
    background: -o-linear-gradient(left,  rgba(0,67,29,0) 0%,rgba(0,67,29,1) 50%,rgba(0,67,29,0) 100%);
    background: -ms-linear-gradient(left,  rgba(0,67,29,0) 0%,rgba(0,67,29,1) 50%,rgba(0,67,29,0) 100%);
    background: linear-gradient(to right,  rgba(0,67,29,0) 0%,rgba(0,67,29,1) 50%,rgba(0,67,29,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#00000000',GradientType=1 );
    display: block;
}

.container-separator {
  width: 100%;
  height: 1px;
  background-image: radial-gradient(#006729, #FFF), radial-gradient(#006729, #FFF);
  background-position: 0, 100%, 0, 100%;
}

.skrollable {
  position: relative;
}

.timeline-separator {
  clear: both;
  margin-top: 100px;
}

/* PARRALAX! */

  html {
    height:100%;
  }

  .skrollr-desktop body {
    height:100% !important;
  }

  .parallax-image-wrapper {
    position:fixed;
    left:0;
    width:100%;
    overflow:hidden;
  }

  .parallax-image-wrapper-50 {
    height:50%;
    top:-30%;
  }

  .parallax-image-wrapper-100 {
    height:100%;
    top:-100%;
  }

  .parallax-image {
    display:none;
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
  }

  .parallax-image-50 {
    height:200%;
    top:-40%;
  }

  .parallax-image-100 {
    height:100%;
    top:0;
  }

  .parallax-image.skrollable-between {
    display:block;
  }

  .no-skrollr .parallax-image-wrapper {
    display:none !important;
  }

  #skrollr_body {
    height:100%;
    overflow:visible;
    position:relative;
  }

  .gap {
    background:transparent center no-repeat;
    background-size:cover;
  }

  .skrollr .gap {
    background:transparent !important;
  }

  .gap-50 {
    height:50%;
  }

  .gap-100 {
    height:100%;
  }

  .header, .content {
    background:#fff;
    padding:1em;
    margin-top: 40px;

    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
  }

  .content-full {
    height:100%;
  }

  #festivities {
    height: 400px;
  }