<h3>Eating</h3>
<table>
  <tr>
    <th><a href="http://jacques-imos.com/">Jaques-Imo's</a></th>
    <td>Eclectic Southern food with a great atmosphere. Get the alligator cheesecake. There's usually a wait, which can be spent at the restaurant bar or at the Maple Leaf bar down the street.</td>
  </tr>
  <tr>
    <th><a href="http://www.cafefreret.com/ordereze/default.aspx">Cafe Freret</a></th>
    <td>Good student café with nice outdoor seating. Reasonable prices. Best thing on the menu are the poboys, but also a nice selection of breakfast items.</td>
  </tr>
  <tr>
    <th><a href="http://www.yelp.com/biz/the-camellia-grill-new-orleans">The Camellia Grill</a></th>
    <td>New Orleans institution. Diner-style place with friendly guys cooking your food on a grill in front of you. Great burgers, sandwiches, omelets, shakes, pie, etc. Pretty much everything (including the pie) is deep-fried, so come hungry. Food is good, but it’s really the experience that makes this place worthwhile. Expect a wait.
    </td>
  </tr>
  <tr>
    <th><a href="http://lebanonscafe.com/">Lebanon's Cafe</a></th>
    <td>There are a lot of Lebanese restaurants in town, but this is the best. Cheap, quick and delicious. Try the pine nut tea.
    </td>
  </tr>
  <tr>
    <th><a href="http://www.yelp.com/biz/dunbars-creole-cooking-new-orleans">Dunbar's Creole Cooking</a></th>
    <td>Some say the best fried chicken in town.
    </td>
  </tr>
  <tr>
    <th><a href="http://www.emerilsrestaurants.com/emerils-delmonico">Emeril's Delmonico</a></th>
    <td>Favorite of Emeril's three restaurants in town. Fine dining with a nice bar and live jazz piano on weekends. Impeccable food and service. Specializes in steak but has lots of other options, including seafood. Tell the GM, Saleem, that you know Rachel if you eat here - she worked as a cocktail waitress when the restaurant re-opened after Hurricane Katrina. 
    </td>
  </tr>
  <tr>
    <th><a href="http://boucherie-nola.com/">Boucherie</a></th>
    <td>Boudin balls and Krispy Kreme bread pudding. Omg.
    </td>
  </tr>
  <tr>
    <th><a href="http://datdognola.com/">Dat Dog</a></th>
    <td>Hot dogs and sausages done in ways you have never imagined. Try the alligator dog smothered in crawfish étouffée.
    </td>
  </tr>
  <tr>
    <th><a href="http://www.ancorapizza.com/">Ancora</a></th>
    <td>Italian-style pizza.</td>
  </tr>
  <tr>
    <th><a href="http://sushinola.com/">Origami Restaurant</a></th>
    <td>Sushi.
    </td>
  </tr>
  <tr>
    <th><a href="http://www.nola.com/sites/lagniappe/horinoya/">Horinoya</a></th>
    <td>Probably Nola's best sushi and Japanese spot.
    </td>
  </tr>
  <tr>
    <th><a href="http://highhatcafe.com/">High Hat Cafe</a></th>
    <td>Southern food, specializes in catfish.
    </td>
  </tr>
  <tr>
    <th><a href="http://www.urbanspoon.com/r/57/1470473/restaurant/Uptown/Saritas-Grill-New-Orleans">Sarita's Grill</a></th>
    <td>Central American, including papusas, fish tacos and empanadas.
    </td>
  </tr>
  <tr>
    <th><a href="http://rootnola.com/">Root</a></th>
    <td>Farm to table fare.
    </td>
  </tr>
  <tr>
    <th><a href="http://www.slicepizzeria.com/">Slice Pizzeria</a></th>
    <td>Pizza.
    </td>
  </tr>
  <tr>
    <th><a href="http://www.lapetitegrocery.com/">La Petite Grocery</a></th>
    <td>High-end New Orleans food. Chef was a Top Chef contestant.
    </td>
  </tr>
  <tr>
    <th><a href="http://www.martiniquebistro.com/">Martinique Bistro</a></th>
    <td>Afro-Caribbean-Creole cuisine.
    </td>
  </tr>
  <tr>
    <th><a href="http://coquettenola.com/">Coquette</a></th>
    <td>French food.
    </td>
  </tr>
  <tr>
    <th><a href="http://www.liletterestaurant.com/">Lilette</a></th>
    <td>French food.
    </td>
  </tr>
  <tr>
    <th><a href="http://lacrepenanou.com/">La Crepe Nanou</a></th>
    <td>French food. Very good crepes and moules-frites.
    </td>
  </tr>
  <tr>
    <th><a href="http://www.yelp.com/biz/domilise-sandwich-shop-and-bar-new-orleans">Domilise's Po-Boy &amp; Bar</a></th>
    <td>Often named best poboys in town. Go for shrimp and oyster and/or roast beef.
    </td>
  </tr>
  <tr>
    <th><a href="http://www.restaurantaugust.com/">August</a></th>
    <td>Upscale New Orleans food. The chef there, John Besh, is something of a celebrity. One NYC friend said that the tasting menu is "better than Per Se!"
    </td>
  </tr>
  <tr>
    <th><a href="http://www.commanderspalace.com/">Commander's Palace</a></th>
    <td>Quintessential New Orleans fine-dining, where Emeril got his start. The jazz brunch on Saturday and Sunday is a sweet deal.
    </td>
  </tr>
  <tr>
    <th><a href="http://www.cochonrestaurant.com/">Cochon Restaurant</a></th>
    <td>House-cured meat and sandwiches.</td>
  </tr>
  <tr>
    <th><a href="http://www.crepecaterer.com/">Crêpes à la Cart</a></th>
    <td>Cheap, yummy crepe stand with lots of savory and sweet options and fresh ingredients. Rachel worked here for a month but got fed up with the drunk late night students and quit.
    </td>
  </tr>
  <tr>
    <th><a href="http://mophonola.com/">MoPho</a></th>
    <td>Good Vietnamese option if you can't make it all the way out to New Orleans East.
    </td>
  </tr>
  <tr>
    <th><a href="http://www.luckyroosternola.com/">Lucky Rooster</a></th>
    <td>Asian-Cajun fusion.
    </td>
  </tr>
  <tr>
    <th><a href="http://www.coopsplace.net/">Coop's Place</a></th>
    <td>Best jambalaya. Also good red beans and rice, fried chicken, fried oysters and blue crab claws.
    </td>
  </tr>
  <tr>
    <th><a href="http://portofcallnola.com/">Port of Call</a></th>
    <td>Excellent burgers.
    </td>
  </tr>
  <tr>
    <th><a href="http://www.bennachinrestaurant.com/">Bennachin</a></th>
    <td>Yummy West African food. Usually takes a while for the food to come out, however, so don't come here if you're in a hurry.
    </td>
  </tr>
  <tr>
    <th><a href="http://www.acmeoyster.com/">Acme Oyster House</a></th>
    <td>Pretty touristy, but still good for oysters.
    </td>
  </tr>
  <tr>
    <th><a href="http://www.napoleonhouse.com/">Napoleon House</a></th>
    <td>Good food and atmosphere in one of New Orleans' oldest eating establishments. Pretty touristy, though.
    </td>
  </tr>
  <tr>
    <th><a href="http://www.cafedumonde.com/">Cafe du Monde</a></th>
    <td>A must for first-time visitors. Open 24 hours. Go at 3 or 4 am so you don't have to wait. Beignets and hot or iced coffee. Don't inhale or laugh while eating the beignets or you will choke on and/or be covered in powdered sugar.
    </td>
  </tr>
  <tr>
    <th><a href="http://www.bayona.com/">Bayona</a></th>
    <td>High-end New Orleans food.
    </td>
  </tr>
  <tr>
    <th><a href="http://www.dookychaserestaurant.com/">Dooky Chase's Restaurant</a></th>
    <td>New Orleans soul food. Some make the bold claim that this place has the best fried chicken in the world. The owner is in her 90s but still makes rounds.
    </td>
  </tr>
  <tr>
    <th><a href="http://www.bacchanalwine.com/">Bacchanal</a></th>
    <td>Unique two-story wine bar-cum-restaurant that often has quality live music.
    </td>
  </tr>
  <tr>
    <th><a href="http://www.pecherestaurant.com/">Peche</a></th>
    <td>Excellent whole fish.
    </td>
  </tr>
</table>

<h3>Drinking</h3>
<table>
  <tr>
    <th><a href="http://www.mapleleafbar.com/">Maple Leaf Bar</a></th>
    <td>Great for live music, or for killing time when waiting on a table at Jaques-Imo's.
    </td>
  </tr>
  <tr>
    <th><a href="http://www.carrolltonstation.com/">Carrollton Station</a></th>
    <td>Neighborhood hang out. Nice backyard.
    </td>
  </tr>
  <tr>
    <th><a href="http://therooseveltneworleans.com/dining/the-sazerac-bar.html">The Sazerac</a></th>
    <td>Historic old-school bar in the Roosevelt Hotel.
    </td>
  </tr>
  <tr>
    <th><a href="http://snakeandjakes.com/">Snake &amp; Jake's Christmas Club Lounge</a></th>
    <td>One of New Orleans' stranger spots. More a shack in the middle of a neighborhood than actual bar. Look for the Christmas lights strung up out front.
    </td>
  </tr>
  <tr>
    <th><a href="http://www.neworleansonline.com/tools/streets/maplestreet.html">Maple Street</a></th>
    <td>Many drinking spots line this street, many of which are very affordable (and frequented by students).
    </td>
  </tr>
  <tr>
    <th><a href="http://www.yelp.com/biz/rue-de-la-course-new-orleans">Rue de la Course</a></th>
    <td>Favorite coffee spot. In a renovated bank.
    </td>
  </tr>
  <tr>
    <th><a href="http://www.thecolumns.com/#!the-victorian-lounge/c1345">The Columns</a></th>
    <td>Cocktails in a historic hotel with an impeccable old-school atmosphere.
    </td>
  </tr>
  <tr>
    <th><a href="http://victorynola.com/">Victory Bar</a></th>
    <td>Cocktails.
    </td>
  </tr>
  <tr>
    <th><a href="http://www.neworleansonline.com/tools/streets/bourbonstreet.html">Bourbon Street</a></th>
    <td>If you've never been to New Orleans, you obviously have to walk down Bourbon with a hurricane or a hand grenade in tow. It's a circus. I'd recommend checking it out once, and then getting out and seeing what the rest of the city has to offer!
    </td>
  </tr>
  <tr>
    <th><a href="http://www.neworleansonline.com/tools/streets/frenchmenstreet.html">Frenchman Street</a></th>
    <td>More authentic than Bourbon St. Lots of drinking, dancing and live music venues. For NYC folk, the original d.b.a. bar is located here.
    </td>
  </tr>
  <tr>
    <th><a href="http://www.tipitinas.com/">Tipitina's</a></th>
    <td>Come on "fais do do" dancing night to shake it on the dance floor with old Cajun folks.
    </td>
  </tr>
  <tr>
    <th><a href="http://curenola.com/">Cure Bar</a></th>
    <td>Nice apothecary-themed bar with good cocktails.
    </td>
  </tr>
  <tr>
    <th><a href="http://www.thebootneworleans.com/">The Boot</a></th>
    <td>The place to go if you're looking to pick up Tulane students.
    </td>
  </tr>
</table>

<h3>Sights</h3>
<table>
  <tr>
    <th><a href="http://www.auduboninstitute.org/visit/audubon-park">Audubon Park</a></th>
    <td>Great for a stroll. A track loops around a pond and golf course, with plenty of majestic oaks and a stately gazebo.
    </td>
  </tr>
  <tr>
    <th><a href="http://www.auduboninstitute.org/visit/zoo">Audubon Zoo</a></th>
    <td>Nice zoo with an option to arrive by paddle boat. Rachel used to volunteer here.
    </td>
  </tr>
  <tr>
    <th><a href="https://www.magazinestreet.com/">Magazine Street</a></th>
    <td>This entire street is lined with boutiques, unique shops and cute cafes and bars.
    </td>
  </tr>
  <tr>
    <th><a href="http://www.auduboninstitute.org/visit/aquarium">Aquarium of the Americas</a></th>
    <td>Cool aquarium. Rachel spent the night here as a girl scout.
    </td>
  </tr>
  <tr>
    <th><a href="http://www.auduboninstitute.org/visit/insectarium">Audubon Butterfly Garden and Insectarium</a></th>
    <td>For discovering six-legged friends.
    </td>
  </tr>
  <tr>
    <th><a href="http://www.houseofblues.com/neworleans/">House of Blues</a></th>
    <td>Live music, in a staple venue.
    </td>
  </tr>
  <tr>
    <th><a href="http://www.frenchmarket.org/">French Market</a></th>
    <td>Large outdoor shopping market, for all of your Tabasco sauce, Mardi Gras beads and voodoo doll needs.
    </td>
  </tr>
  <tr>
    <th><a href="http://lcm.org/">Louisiana Children's Museum</a></th>
    <td>Really excellent children's museum for the kiddies. Once was Rachel's favorite place.
    </td>
  </tr>
  <tr>
    <th><a href="http://noma.org/">New Orleans Museum of Art</a></th>
    <td>Surprisingly large and legit art museum. Also has an outdoor sculpture garden.
    </td>
  </tr>
  <tr>
    <th><a href="http://www.ogdenmuseum.org/">The Ogden Museum of Southern Art</a></th>
    <td>Museum specializing in Southern art.
    </td>
  </tr>
  <tr>
    <th><a href="http://noaam.org/">New Orleans African American Museum</a></th>
    <td>Located in Tremé, the oldest surviving black community in the US.
    </td>
  </tr>
  <tr>
    <th><a href="http://nationalww2museum.org/">National World War II Museum</a></th>
    <td>Specializes in the history of D-Day.
    </td>
  </tr>
  <tr>
    <th><a href="http://www.rocknbowl.com/">Rock 'n' Bowl</a></th>
    <td>Booze and bowling. Yes.
    </td>
  </tr>
  <tr>
    <th><a href="http://www.harrahsneworleans.com/">Harrah's Casino</a></th>
    <td>If you're feeling lucky.
    </td>
  </tr>
  <tr>
    <th><a href="www.rosetreegallery.com">Rosetree Blown Glass Studio and Gallery</a></th>
    <td>Take a free ferry across the river to Algiers and check out this blown glass studio.
    </td>
  </tr>
</table>