<h3>Frequently Asked Questions</h3>
<div class="faq">
  <h4>What about transportation?</h4>
  <p>
    Cabs from the airport into town cost about $30. New Orleans does not have good public transportation, however, so if you plan to do a lot of exploring it might be worth renting a car.
  </p>
</div>
<div class="faq">
  <h4>Can I bring my kids to the wedding?</h4>
  <p>
    Unfortunately, the wedding venue does not allow children under the age of 10 (except those standing in the wedding). Babysitters can be hired through <a href="http://dependablecare.net/?page_id=36">Dependable Kid Care</a> or <a href="https://www.care.com/babysitters/new-orleans-la">Care.com</a>.
  </p>
</div>

<div class="faq">
  <h4>Is New Orleans Dangerous?</h4>
  <p>
    The Garden District is quite safe, but some parts of the city - including the fringes of the French Quarter - can be a bit sketchy after dark. If you’re out late, try to travel as a group, and avoid parking on questionable-looking side streets or vacant lots. Better to just pay for parking than take a chance.
  </p>
</div>

<div class="faq">
  <h4>You're so wonderful, can I come live with you?</h4>
  <p>
    Unfortunately, we don't have room for you to live with us, but if you'd like to stay in our New York City apartment the week after the wedding, please let us know! The only hitch is that you will have to take care of our cat and give her lots of love. We will be gone until April 18, most likely. The apartment is a one-bedroom with a couch that is sleepable, plus a blow-up mattress. It’s in a good location in Brooklyn, one stop away from Manhattan on the subway. Email us if you’re interested!
  </p>
</div>
