<h4>Hotel List</h4>
<h5><a href="http://neworleanshamptoninns.com/hampton-hotels/garden-district/" target="_">Hampton Inn Garden District</a> (SOLD OUT)</h5>
<table>
  <tr>
    <th>Info</th>
    <td>A seven minute walk to the wedding venue, also conveniently located next to a street car stop for those not renting a car. Includes breakfast.</td>
  </tr>
  <tr>
    <th>Rate</th>
    <td>$209 for a double or king</td>
  </tr>
  <tr>
    <th>Room blook expires</th>
    <td>March 10</td>
  </tr>
  <tr>
    <th>Minimum stay</th>
    <td>Two nights</td>
  </tr>
  <tr>
    <th>Advance payment requirements</th>
    <td>72 hours prior to arrival</td>
  </tr>
  <tr>
    <th>How to book</th>
    <td>Call 504-899-9990, hotel code NIW. <a href="http://hamptoninn.hilton.com/en/hp/groups/personalized/M/MSYGDHX-NIW-20150410/index.jhtml?WT.mc_id=POG" target="_">Or online.</a></td>
  </tr>
</table>

<h5><a href="http://www.qandc.com/" target="_">Queen and Crescent Hotel</a></h5>
<table>
  <tr>
    <th>Info</th>
    <td>Newly renovated. Of all the hotels we've blocked, this one is closest to the French Quarter. Rachel has stayed here several times. An eight minute drive to the wedding venue.</td>
  </tr>
  <tr>
    <th>Rate</th>
    <td>$279 for a single or double </td>
  </tr>
  <tr>
    <th>Room blook expires</th>
    <td>March 9</td>
  </tr>
  <tr>
    <th>Minimum stay</th>
    <td>Two nights</td>
  </tr>
  <tr>
    <th>Advance payment requirements</th>
    <td>First night charged on booking, remaining nights charged in full on March 10.</td>
  </tr>
  <tr>
    <th>How to book</th>
    <td>Call 866-247-7936</td>
  </tr>
</table>

<h5><a href="http://www.clarionhotel.com/hotel-new_orleans-louisiana-LA087" target="_">Clarion Hotel Grand Boutique </a></h5>
<table>
  <tr>
    <th>Info</th>
    <td>A 14 minute walk or four minute drive from the wedding venue. Located next to a street car stop. Comes with breakfast.</td>
  </tr>
  <tr>
    <th>Rate</th>
    <td>$175.99 for a double or king </td>
  </tr>
  <tr>
    <th>Room blook expires</th>
    <td>February 24</td>
  </tr>
  <tr>
    <th>Minimum stay</th>
    <td>Two nights</td>
  </tr>
  <tr>
    <th>Advance payment requirements</th>
    <td>Pay at check-out</td>
  </tr>
  <tr>
    <th>How to book</th>
    <td>Call 504-524-3333</td>
  </tr>
</table>

<h5><a href="http://www.fairchildhouse.com/" target="_">Fairchild House</a> (EXPIRED)</h5>
<table>
  <tr>
    <th>Info</th>
    <td>Funky little family-owned B&amp;B, a bit worn around the edges but good value. They'll probably knock $10-15 off the price if you ask to opt out of the breakfast (it's nothing to write home about). Some private off-street parking, and plenty of spaces around the block. A four minute drive to the wedding venue, or 20 minute walk.</td>
  </tr>
  <tr>
    <th>Rate</th>
    <td>$99 - 199 (just 13 rooms available in the whole hotel)</td>
  </tr>
  <tr>
    <th>Room blook expires</th>
    <td>September 30</td>
  </tr>
  <tr>
    <th>Minimum stay</th>
    <td>Three nights</td>
  </tr>
  <tr>
    <th>Advance payment requirements</th>
    <td>First night charged on booking</td>
  </tr>
  <tr>
    <th>How to book</th>
    <td>Call 504-524-0154, or email Beatriz at info@fairchildhouse.com</td>
  </tr>
</table>

<h5><a href="http://www.qualityinn.com/hotel-new_orleans-louisiana-LA032%20" target="_">Quality Inn &amp; Suites Maison St. Charles</a> (EXPIRED)</h5>
<table>
  <tr>
    <th>Info</th>
    <td>Comes with breakfast, and has an outdoor pool and jacuzzi. A 22 minute walk from the wedding venue or six minute drive.</td>
  </tr>
  <tr>
    <th>Rate</th>
    <td>$239 for a king, $249 for a double queen</td>
  </tr>
  <tr>
    <th>Room blook expires</th>
    <td>February 11</td>
  </tr>
  <tr>
    <th>Minimum stay</th>
    <td>Two nights</td>
  </tr>
  <tr>
    <th>Advance payment requirements</th>
    <td>Pay at check-out</td>
  </tr>
  <tr>
    <th>How to book</th>
    <td>Call 504-522-0187</td>
  </tr>
</table>

<h5><a href="http://www.thepontchartrainhotel.com/" target="_">The Pontchartrain</a> (EXPIRED)</h5>
<table>
  <tr>
    <th>Info</th>
    <td>Rooms include kitchenettes. Three minute drive to the wedding venue, or 13 minute walk.</td>
  </tr>
  <tr>
    <th>Rate</th>
    <td>$249 for a studio bedroom, $269 for a one bedroom suite</td>
  </tr>
  <tr>
    <th>Room blook expires</th>
    <td>February 11</td>
  </tr>
  <tr>
    <th>Minimum stay</th>
    <td>Two nights</td>
  </tr>
  <tr>
    <th>Advance payment requirements</th>
    <td>Pay at check-out</td>
  </tr>
  <tr>
    <th>How to book</th>
    <td>Call 504-524-0581</td>
  </tr>
</table>

<h5><a href="http://www.thehotelmodern.com/" target="_">The Hotel Modern</a></h5>
<table>
  <tr>
    <th>Info</th>
    <td>Good bar inside this hotel. Located between the French Quarter and the Garden District. A 30 minute walk from the wedding venue, or six minute drive. Pet-friendly.</td>
  </tr>
  <tr>
    <th>Rate</th>
    <td>$230 for a single, $265 for a double</td>
  </tr>
  <tr>
    <th>Room blook expires</th>
    <td>March 11</td>
  </tr>
  <tr>
    <th>Minimum stay</th>
    <td>Two nights</td>
  </tr>
  <tr>
    <th>Advance payment requirements</th>
    <td>First night charged on booking</td>
  </tr>
  <tr>
    <th>How to book</th>
    <td>Call 800-684-9525</td>
  </tr>
</table>

<h5><a href="http://www.lepavillon.com/" target="_">Le Pavillon</a></h5>
<table>
  <tr>
    <th>Info</th>
    <td> Fanciest option. Rooftop pool, hot tub and cabanas. Free peanut butter and jelly, milk and hot chocolate every night from 10 pm. A seven minute drive to the wedding venue. French Quarter is walkable. Paul and Rachel will be staying here.</td>
  </tr>
  <tr>
    <th>Rate</th>
    <td>$300</td>
  </tr>
  <tr>
    <th>Room blook expires</th>
    <td>March 10</td>
  </tr>
  <tr>
    <th>Minimum stay</th>
    <td>Two nights</td>
  </tr>
  <tr>
    <th>Advance payment requirements</th>
    <td>First night deposit</td>
  </tr>
  <tr>
    <th>How to book</th>
    <td>Call 504-581-3111</td>
  </tr>
</table>
