---
title: Rachel and Paul 4 eva
---

<div class="header">
  <img class="left" src="images/rn_webheader_left.jpg" />
  <div class="left">
    <h2><a href="#">OUR STORY</a></h2>
    <h2><a href="#">WEDDING PARTY</a></h2>
  </div>
  <div class="title">
    <img class="left" src="images/rn_webheader_left_alligator.jpg" />
    <h1 class="left">RACHEL &amp; PAUL</h1>
    <img class="left" src="images/rn_webheader_right_alligator.jpg" />
  </div>
  <img class="right" src="images/rn_webheader_right.jpg" />
  <div class="right">
    <h2><a href="#">FESTIVITIES</a></h2>
    <h2><a href="#">DETAILS</a></h2>
    <h2><a href="#">NOLA</a></h2>
  </div>
  <div class="separator"></div>
</div>

