---
title: Rachel and Paul 4 eva
---

<div class="header">
  <img class="left" src="images/rn_webheader_left.jpg" />
  <div class="left">
    <h2><a href="#our_story">OUR STORY</a></h2>
    <h2><a href="#wedding_party">WEDDING PARTY</a></h2>
  </div>
  <div class="title">
    <img class="left" src="images/rn_webheader_left_alligator.jpg" width="80px" height="75px" />
    <h1 class="left"><a href="#">RACHEL &amp; PAUL<a></h1>
    <img class="left" src="images/rn_webheader_right_alligator.jpg" width="80px" height="75px" />
  </div>
  <img class="right" src="images/rn_webheader_right.jpg" />
  <div class="right">
    <h2><a href="#festivites">FESTIVITIES</a></h2>
    <h2><a href="#details">DETAILS</a></h2>
    <h2><a href="#nola">NOLA</a></h2>
  </div>
  <div class="separator"></div>
</div>

